@import '../../styles/variables.module.scss';

.header {
  transition: left $layoutTrans;
  background-color: white;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: $sidebarExpandWidth;
  right: 0;
  height: $headerHeight;
  z-index: $headerZIndex;
}